---
import PageHeader from "@/components/PageHeader.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import ChatUI from "@/chat/ChatUI";
import "../styles/markdown.css";
import { getEntry } from "astro:content";

const entry = await getEntry("contact", "index");
const contact = entry.data;
const page_data = {
  ...contact,
  content: contact.body,
};
---

<Base
  title={contact.title}
  meta_title={contact.meta_title}
  description={contact.description}
  image={contact.image}
>
  <section class="page-hero pb-6 pt-16">
    <div class="container">
      <PageHeader page_data={page_data} />
    </div>
    <ChatUI client:load />
  </section>

  <section class="section pt-0">
    <div class="container">
      <div class="row">
        <div class="flex justify-center items-center">
          <div class="contact-img relative inline-flex pb-5 pl-5">
            <div class="flex items-center">
              <div class="mr-8">
                <Image
                  src="/images/contact-img.png"
                  height={544}
                  width={500}
                  alt=""
                />
                <Image
                  class="absolute bottom-0 left-0 -z-[1] h-14 w-14"
                  src="/images/shape-2.png"
                  alt=""
                  height={56}
                  width={56}
                />
              </div>
              <div class="text-left">
                <h2 class="text-2xl font-bold mb-4">Contact Information</h2>
                <p class="mb-2">
                  <span class="font-semibold"
                    >Juan Jaramillo AI Consulting Services</span
                  >
                </p>
                <p class="mb-2">
                  <a
                    href="https://juanjaramillo.ai"
                    class="text-blue-500 hover:underline"
                  >
                    https://juanjaramillo.ai
                  </a>
                </p>
                <p class="mb-2">
                  <a
                    href="mailto:hola@juanjaramillo.ai"
                    class="text-blue-500 hover:underline"
                  >
                    hola@juanjaramillo.ai
                  </a>
                </p>
                <p class="mb-2">
                  <a
                    href="tel:+573054206139"
                    class="text-blue-500 hover:underline"
                  >
                    (+57) 305 420 6139
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
